<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendship2022</title>
    <link rel="stylesheet" href="/dist/css/style.css">
    <!-- about.style -->
    <link rel="stylesheet" href="/dist/css/about.css">
    
    <!-- Box icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Swiper cdn -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>

<body>
    <nav>
        <div class="container">
            <a href="" class="logo"><i class="fab fa-earlybirds"></i>FS69</a>

            <div class="menu-bar">
                <span class="b-1">.</span>
                <span class="b-2">.</span>
                <span class="b-3">.</span>
            </div>

            <ul class="navbar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="#" class="active">about me</a></li>
                <li><a href="technology.html">technology </a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="gallery.html">gallery</a></li>
                <li><a href="../friend.html">friend</a></li>
                <li><a href="contact.html">contact us</a></li>
            </ul>
        </div>
    </nav>

<!-- hero about -->
<!-- <section class="hero-about">
<div class="container">
    <h1>About Me</h1>
</div>
</section> -->

<section class="hero-about">
    <div class="container">
        <video src="/videos/video-1.mp4" autoplay muted loop plays-inline></video>
        <h1>About Me</h1>
        <h2>The <span class="glow">creator</span> of a <spam class="glow">friendship</spam> website</h2>
    </div>
    </section>
    

    <!-- ABOUT SECTION -->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="about-content">
                    <h2>ABOUT ME</h2>
                    <h3>The creator of a friendship website to collect memories of high school.</h3>
                    <div class="animate-text">
                        <h1>Hello I'am <span class="animation-text glow"></span></h1>
                    </div>

                    <p>สวัสดีครับเพื่อนๆทุกคน ยินดีต้อนรับสู่เว็บไซต์ FS69
                        ผลงานชิ้นนี้ผมตั้งใจสร้างขึ้นมาเพื่อรวบรวมสมาชิกในชั้นมัธยมศึกษาตอนปลาย ที่น่ารักทุกคน รวมทั้ง
                        ความทรงจำในโรงเรียนเเห่งนี้ กับเพื่อนๆทุกคนที่ผ่านเข้ามาในชีวิต บางคนมีเพื่อนใหม่ตอนมัธยมปลาย
                        บางคนก็รู้จัักันตั้งเเต่มัธยมต้น ปีนี้เป็นปีสุดท้ายที่พวกเราได้พบกัน
                        เเละได้อยู่ในรั้วโรงเรียนเเห่งนี้
                        ต่อจากนี้ไปก็ถึงเวลาเเล้วที่เพื่อนๆเเต่ละคนจะออกไปผจญภัยในโลกกว้าง
                        ตามหาความฝันไล่ล่าเป้าหมายในชีวิต
                        <br> <br> ผมขอเป็นอีกหนึ่งคนที่พร้อมจะเเสดงความยินดีกับความสำเร็จ
                        เเละดีใจเป็นอย่างยิ่งที่ได้เห็นเพื่อนๆทุกคนเติบโตไปข้างหน้า
                        เว็บไซต์เเห่งนี้นอกจากจะรวมรวมสมาชิกเพื่อนๆทุกคนเเล้ว ก็ยังมีบทความต่างๆสำหรับการพัฒนาตนเอง
                        เเละการวางเป้าหมาย พร้อมทักษะต่างๆในอนาคตอีกมากมายให้เพื่อนๆได้ศึกษา
                        ผมหวังว่าบางบทความที่ผมเเนะนำ
                        จะเป็นเเรงผลักดันให้กับเป้าหมายเเละสร้างรายได้ในชีวิตของเพื่อนๆทุกคน </p>
                    <a href="https://www.facebook.com/profile.php?id=100079309287970" class="btn"><i class='bx bxl-facebook-circle' ></i> My Facebook</a>
                </div>


                <div class="about-image">
                    <img src="/friend image2022/chat2.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="line"></div>
    </div>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="about-image">
                    <img src="/friend image2022/chat3.jpg" alt="">
                </div>
                <div class="about-content">
                    <h2>MY EXPERIENCE</h2>
                    <h3>1 year experience with studying and learning to write programs by myself</h3>
                    <div class=" a2">
                        <h1 style="font-size: 2.6rem;">Becoming <span class="glow"> Front-End Developer</span> and <span class="glow">Required Skills</span></h1>
                    </div>

                    <p class="p-2">ทักษะการเขียนโปรแกรมเป็นทักษะแห่งอนาคต ไม่ว่าคุณจะเป็นใคร อายุเท่าไหร่ เรียนจบอะไรมา ก็สามารถฝึกฝนทักษะนี้ได้ทั้งนั้น  ซึ่งไม่ง่ายแต่ก็ไม่ยากถ้าคุณมุ่งมั่นตั้งใจและเอาจริงเอาจังกับมัน   อาชีพทั้งหมดที่มีอยู่บนโลกใบนี้หากเรามีความชอบเเละอยากสร้างรายได้จากมัน เราก็สามารถฝึกฝนเเละทุ่มเทได้เช่นกัน  <span style="color: black;">"ไม่ต้องกลัวว่าจะไม่มีรายได้ คุณจงฝึกฝนจนเป็นผู้เชี่ยวชาญทางอาชีพนั้น เเล้วรายได้ก็จะเข้ามาหาคุณอย่างเเน่นอน"</span></p>

                    <br><br>
                    <p>อาชีพ frontend developer เป็นอาชีพที่พัฒนาทางส่วนของหน้าเว็บ อย่างที่เพื่อนๆกำลังดูอยู่ ผมใช้เวลาในการศึกษาเรียนรู้ด้วยตัวเองอย่างตั้งใจมาตลอดระยะเวลา 1 ปี ส่วนภาษาที่ผมศึกษาเรียนรู้เเละใช้สร้างเว็บไวต์นี้ขึ้นมา สามารถดูได้ที่นี่ <a href="/component/technology.html">Technology</a> มันเหมือนกับเรามีพลังในการสร้างสิ่งที่ไม่มี ให้มันมีอยู่เเละสามารถให้ผู้อื่นใช้งานได้ การทำงานทางด้านนี้โดยหลักๆเลยก็คือ การ clone website จาก PSD ADOBE XD  FIGMA เเละอื่นๆ หรือจะเป็นการสร้างสรรค์ผลงานจากจินตนาการของเราให้เป็นชิ้นเป็นอันได้ นอกจากนี้หากเรามีความชำนาญ ก็สามารถสร้างรายได้จากมันได้ หากเพื่อนๆคนไหนมีทักษะทางด้านต่างๆเเละอยากหารายได้ระหว่างเรียน ผมขอเเนะนำ <a href="https://fastwork.co/">Fastwork</a> ส่วนผลงานของผม สามารถเข้าไปรับชมได้ที่ Github </p>
                    <a href="https://github.com/ChatchawanDew404" class="btn" style="margin-right: 5px;"><i class='bx bxl-github'></i> My Portfolio</a>
                    <a href="/component/technology.html" class="btn">Technology</a>
                </div>


            </div>
        </div>
    </section>

 


 


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: black;"><i class="fab fa-earlybirds glow"></i>FS69</h3>

                <p>Thank you all for coming to see my work. Have a happy future and have a stable job.</p>
            </div>
            <div class="col">
                <h3>Navigation</h3>
                <ul >
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="#">about me</a></li>
                    <li><a href="technology.html">technology </a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="gallery.html">gallery</a></li>
                    <li><a href="friend.html">friend</a></li>
                    <li><a href="contact.html">contact us</a></li>
                </ul>
            </div>

            <div class="col">
                <h3>Contact Me</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100025255022513"> <i class='bx bx-donate-heart'></i>เเจ้งปัญหาที่เกิดขึ้น</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100079309287970"><i class='bx bxl-facebook-square' ></i>Chatchawan</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100025255022513"><i class='bx bxl-facebook-square' ></i> ชัชวาล</a></li>
                    <li><a href="https://mail.google.com/"><i class='bx bx-envelope' ></i>dewgamer110@gmail.com</a></li>
                    <li><a href="https://github.com/ChatchawanDew404"> <i class='bx bxl-github' ></i>Github</a></li>
                    <li><a href="https://discord.com/"> <i class='bx bxl-discord-alt'></i>Discord</a></li>
                </ul>
            </div>

            <div class="col">
                <h3>Technology</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>BOOTSTRAP</li>
                    <li>JQUERY</li>
                    <li>REACT</li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<div class="copyright">
    <h1>Copyright <i class='bx bx-copyright'></i> 2022 - 2026 by Chatchawan Ngernthaworn</h1>
</div>









    <!-- Animation text -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/88dfe94bff.js" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Swiper cdn js -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- index.js -->
    <script src="/index.js"></script>
</body>

</html>



<!-- Facebook  https://www.facebook.com/profile.php?id=100079309287970 -->