<!DOCTYPE html>
<html lang="en">

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Friendship2022</title>
        <link rel="stylesheet" href="/dist/css/style.css">
        <!-- about.style -->
        <link rel="stylesheet" href="/dist/css/about.css">
        <link rel="stylesheet" href="/dist/css/blog.css">
        <!-- Box icons -->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <!-- Swiper cdn -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    </head>
    
    <body>
        <nav>
            <div class="container">
                <a href="" class="logo"><i class="fab fa-earlybirds"></i>FS69</a>
    
                <div class="menu-bar">
                    <span class="b-1">.</span>
                    <span class="b-2">.</span>
                    <span class="b-3">.</span>
                </div>
    
                <ul class="navbar">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html" >about me</a></li>
                    <li><a href="technology.html">technology </a></li>
                    <li><a href="#" class="active">blog</a></li>
                    <li><a href="gallery.html">gallery</a></li>
                    <li><a href="../friend.html">friend</a></li>
                    <li><a href="contact.html">contact us</a></li>
                </ul>
            </div>
        </nav>
    
    
    <section class="hero-about">
        <div class="container">
            <video src="/videos/video-1.mp4" autoplay muted loop plays-inline></video>
            <h1>Blog</h1>
            <h2><span class="glow">Articles</span> I would like to <span class="glow">recommend</span></h2>
        </div>
        </section>
        
  
        <section class="blog">
            <div class="container">
                <div class="blog-container">
                    <h3 class="heading">self improvement blog</h3>
                    <div class="line"></div>
                    <div class="row">
                       
    
                            <a href="https://chanisara.com/posts/2723/%e0%b8%97%e0%b8%b3%e0%b8%87%e0%b8%b2%e0%b8%99%e0%b9%84%e0%b8%a1%e0%b9%88%e0%b8%95%e0%b8%a3%e0%b8%87%e0%b8%81%e0%b8%b1%e0%b8%9a%e0%b8%aa%e0%b8%b2%e0%b8%a2%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%a3/?fbclid=IwAR2Uiq7gT0P4s7l-us6zu1geV2Fs31OEsdt_YM0CZ17X4XX6M_78U1jiqXE" class="blog-col b-1">
                                <img src="/blogImg/b6.avif"alt="">
                                <div class="content">
                                    <span class="mini">mindset</span>
                                    <h3>7 ข้อคิด หากทำงานไม่ตรงกับสายเรียนมา อย่าไปเสียดายวุฒิการศึกษา</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://chayend.com/2022/01/22/%e0%b9%80%e0%b8%82%e0%b8%b5%e0%b8%a2%e0%b8%99%e0%b9%84%e0%b8%a7%e0%b9%89%e0%b8%94%e0%b8%b5%e0%b8%a1%e0%b8%b2%e0%b8%81%e0%b9%86-%e0%b9%80%e0%b8%a3%e0%b8%b5%e0%b8%a2%e0%b8%99%e0%b8%88%e0%b8%9a/?hilite=%E0%B9%80%E0%B8%AD%E0%B8%B2%E0%B8%95%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B8%AD%E0%B8%94&fbclid=IwAR1eu-43p_5isAl3hLQFxm2Rk8FcrQLYyiir4UxwTFILnW3vDBuf5bOey28" class="blog-col b-2">
                                <img src="/blogImg/b2.avif"alt="">
                                <div class="content">
                                    <span class="mini">mindset</span>
                                    <h3>เรียนจบสูงมาจากไหน... ก็ไม่สำคัญเท่าใช้ชีวิตเอาตัวรอดเป็น</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://www.facebook.com/groups/666753733897123/permalink/1118719068700585/" class="blog-col b-3">
                                <img src="/blogImg/b3.avif"alt="">
                                <div class="content">
                                    <span class="mini">mindset</span>
                                    <h3> หนังสือที่จะช่วยให้คุณดึงศักยภาพตัวเองออกมา โดยเริ่มที่ “การจัดการตัวเอง จัดการงาน และจัดการทีม</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://www.facebook.com/groups/666753733897123/permalink/1115474299025062/" class="blog-col b-4">
                                <img src="/blogImg/b5.avif"alt="">
                                <div class="content">
                                    <span class="mini">mindset</span>
                                    <h3>หนังสือ Atomic Habits 
                                        เพราะชีวิตดีได้กว่าที่เป็น ต้องเริ่มจากที่ตัวเรา</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://fb.watch/coxc5IRAwG/" class="blog-col b-5">
                                <img src="/blogImg/b4.avif"alt="">
                                <div class="content">
                                    <span class="mini">mindset</span>
                                    <h3>5 บทเรียนล้ำค่า จาก ลิซ่า Blackpink</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://www.facebook.com/LadyCrypto99/posts/106576661464041" class="blog-col b-6">
                                <img src="/blogImg/b7.avif"alt="">
                                <div class="content">
                                    <span class="mini">crypto</span>
                                    <h3> อยากเข้าวงการตลาดคริปโต.. ต้องรู้อะไรก่อน!?! </h3>
                                    <p></p>
                                </div>
                            </a>

                        </div>

                        <div class="row" style="margin-top: 10px;">
                       
    
                            <a href="https://www.facebook.com/permalink.php?story_fbid=138193584774961&id=100146305246356" class="blog-col b-1">
                                <img src="/blogImg/b1.avif"alt="">
                                <div class="content">
                                    <span class="mini">mindset</span>
                                    <h3>หนังสือ “พลังของคนที่กล้าทำอะไรคนเดียว
                                        โดย คุณโกะโด​ โทคิโอะ</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://www.facebook.com/permalink.php?story_fbid=392409382887481&id=100063552670116" class="blog-col b-2">
                                <img src="/blogImg/b8.jpg"alt="">
                                <div class="content">
                                    <span class="mini">mindset</span>
                                    <h3>หนังสือ “เพราะเป็นวัยรุ่นจึงเจ็บปวด"
                                        โดย คุณคิมรันโด</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://www.admissionpremium.com/content/5528" class="blog-col b-3">
                                <img src="/blogImg/b9.jpg"alt="">
                                <div class="content">
                                    <span class="mini">university</span>
                                    <h3>มัธยม VS มหาวิทยาลัย มีความต่างกันอย่างไร</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://intrend.trueid.net/article/%E0%B8%8A%E0%B8%B5%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B9%80%E0%B8%94%E0%B9%87%E0%B8%81%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2-%E0%B8%95%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%88%E0%B8%AD%E0%B8%81%E0%B8%B1%E0%B8%9A%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%87-trueidintrend_127992?fbclid=IwAR1WSnQpv_Vju_yWbW5D8eBPBcPCcXT0LOThlwS5bhd7ol25aueu6n5yVSU" class="blog-col b-4">
                                <img src="/blogImg/b10.jpg"alt="">
                                <div class="content">
                                    <span class="mini">university</span>
                                    <h3>ชีวิตเด็กมหาวิทยาลัย ต้องเจอกับอะไรบ้าง ?</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://readthecloud.co/scoop-8/?fbclid=IwAR19Jtf49ij22WrsECcnmhquJDWbYWemXvCsHbIrRkE-vaQVZ8lBW3M_tug" class="blog-col b-5">
                                <img src="/blogImg/b11.jpg"alt="">
                                <div class="content">
                                <span class="mini">university</span>
                                    <h3>15 คำเเนะนำจาก The Cloud เเด่นักศึกษา จงใช้ชีวิตมหาลัยให้คุ้มค่า</h3>
                                    <p></p>
                                </div>
                            </a>
        
                            <a href="https://www.siamarcheep.com/%E0%B8%AD%E0%B8%B2%E0%B8%8A%E0%B8%B5%E0%B8%9E%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B8%B4%E0%B8%A1%E0%B8%A3%E0%B8%B0%E0%B8%AB%E0%B8%A7%E0%B9%88%E0%B8%B2%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99-%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%9E%E0%B8%B2%E0%B8%A3%E0%B9%8C%E0%B8%97%E0%B9%84%E0%B8%97%E0%B8%A1%E0%B9%8C.html" class="blog-col b-6">
                                <img src="/blogImg/b12.jpg"alt="">
                                <div class="content">
                                    <span class="mini">university</span>
                                    <h3>20 อาชีพเสริม! ทำงานระหว่างเรียน งานพาร์ทไทม์รายได้ดี</h3>
                                    <p></p>
                                </div>
                            </a>

                        </div>
                </div>
            </div>
        </section>
       

<section class="thank">
    <div class="container">
        <div class="heading">
            <h1><span class="glow">Thank you</span> for giving <span class="glow">permission</span></h1>
            <h2>ขอขอบคุณทางเพจต่างๆที่อนุญาติให้เราได้ใช้บทความทั้งหมดในเว็บ</h2>
        </div>


        <div class="row">
            <a href="https://www.facebook.com/chayend.in/" class="col"><img src="/blogImg/logo1.png" alt=""><h1>คิดกลับด้าน</h1></a>
            <a href="https://www.facebook.com/profile.php?id=100063552670116" class="col"><img src="/blogImg/logo2.png" alt=""><h1>ถ้าเราเขียนเธอจะอ่านหรือเปล่า</h1></a>
            <a href="https://www.facebook.com/LadyCrypto99/" class="col"><img src="/blogImg/logo3.png" alt=""><h1>Lady Crypto</h1></a>
        </div>
    </div>
</section>


     
    
    
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="color: black;"><i class="fab fa-earlybirds glow"></i>FS69</h3>
    
                    <p>Thank you all for coming to see my work. Have a happy future and have a stable job.</p>
                </div>
                <div class="col">
                    <h3>Navigation</h3>
                    <ul >
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="#">about me</a></li>
                        <li><a href="technology.html">technology </a></li>
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="gallery.html">gallery</a></li>
                        <li><a href="friend.html">friend</a></li>
                        <li><a href="contact.html">contact us</a></li>
                    </ul>
                </div>
    
                <div class="col">
                    <h3>Contact Me</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100025255022513"> <i class='bx bx-donate-heart'></i>เเจ้งปัญหาที่เกิดขึ้น</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100079309287970"><i class='bx bxl-facebook-square' ></i>Chatchawan</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100025255022513"><i class='bx bxl-facebook-square' ></i> ชัชวาล</a></li>
                        <li><a href="https://mail.google.com/"><i class='bx bx-envelope' ></i>dewgamer110@gmail.com</a></li>
                        <li><a href="https://github.com/ChatchawanDew404"> <i class='bx bxl-github' ></i>Github</a></li>
                        <li><a href="https://discord.com/"> <i class='bx bxl-discord-alt'></i>Discord</a></li>
                    </ul>
                </div>
    
                <div class="col">
                    <h3>Technology</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>BOOTSTRAP</li>
                        <li>JQUERY</li>
                        <li>REACT</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    
    <div class="copyright">
        <h1>Copyright <i class='bx bx-copyright'></i> 2022 - 2026 by Chatchawan Ngernthaworn</h1>
    </div>
    
    
    
    
    
    
    
    
    
        <!-- Animation text -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/88dfe94bff.js" crossorigin="anonymous"></script>
    
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
        <!-- Swiper cdn js -->
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    
        <!-- index.js -->
        <script src="/index.js"></script>
    </body>
    
    </html>
    