<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendship2022</title>
    <link rel="stylesheet" href="/dist/css/style.css">
    <!-- about.style -->
    <link rel="stylesheet" href="/dist/css/about.css">
    
    <!-- Box icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Swiper cdn -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>

<body>
    <nav>
        <div class="container">
            <a href="" class="logo"><i class="fab fa-earlybirds"></i>FS69</a>

            <div class="menu-bar">
                <span class="b-1">.</span>
                <span class="b-2">.</span>
                <span class="b-3">.</span>
            </div>

            <ul class="navbar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">about me</a></li>
                <li><a href="technology.html">technology </a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="gallery.html">gallery</a></li>
                <li><a href="../friend.html">friend</a></li>
                <li><a href="#" class="active">contact us</a></li>
            </ul>
        </div>
    </nav>


<section class="hero-about">
    <div class="container">
        <video src="/videos/video-1.mp4" autoplay muted loop plays-inline></video>
        <h1>Contact Me</h1>
        <h2>We welcome <span class="glow">compliments</span> and <span class="glow">criticism.</span></h2>
    </div>
    </section>
    

    <!-- Contact me -->
<section class="contact">
    <div class="container">
        <div class="heading"><span class="glow">Contact</span> Me</div>

        <div class="row">
           <div class="contact-col">
           <div class="con-row">
            <div class="col">
                <i class='bx bx-donate-heart'></i>
                <h1>Problem</h1>
                <h2>เเจ้งปัญหาที่เกิดขึ้น</h2>
                <a href="https://www.facebook.com/profile.php?id=100025255022513" class="btn">Contact</a>
            </div>
            <div class="col">
                <i class='bx bxl-facebook-square' ></i>
                <h1>Facebook</h1>
                 <h2>ชัชวาล เงินถาวร</h2>
                 <a href="https://www.facebook.com/profile.php?id=100025255022513" class="btn">Contact</a>
            </div>
            <div class="col">
                <i class='bx bxl-facebook-square' ></i>
                <h1>Facebook</h1>
                 <h2>Chatchawan Ngernthaworn</h2>
                 <a href="https://www.facebook.com/profile.php?id=100079309287970" class="btn">Contact</a>
            </div>
            <div class="col">
                <i class='bx bx-envelope' ></i>
                <h1>Email</h1>
                 <h2>Dewgamer110@gmail.com</h2>
                 <a href="https://mail.google.com/" class="btn">Contact</a>
            </div>
            <div class="col">
                <i class='bx bxl-github' ></i>
                <h1>Github</h1>
                 <h2>ChatchawanDew404</h2>
                 <a href="https://github.com/ChatchawanDew404" class="btn">Contact</a>
            </div>
            <div class="col">
                <i class='bx bxl-discord-alt'></i>
                <h1>Discord</i></h1>
                 <h2>Dewzazayolol</h2>
                 <a href="https://discord.com/" class="btn">Contact</a>
            </div>
           </div>
           </div>
           <div class="contact-col">
               <img src="https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvbnRhY3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
           </div>
        </div>
    </div>
</section>

 


 


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: black;"><i class="fab fa-earlybirds glow"></i>FS69</h3>

                <p>Thank you all for coming to see my work. Have a happy future and have a stable job.</p>
            </div>
            <div class="col">
                <h3>Navigation</h3>
                <ul >
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="#">about me</a></li>
                    <li><a href="technology.html">technology </a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="gallery.html">gallery</a></li>
                    <li><a href="friend.html">friend</a></li>
                    <li><a href="contact.html">contact us</a></li>
                </ul>
            </div>

            <div class="col">
                <h3>Contact Me</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100025255022513"> <i class='bx bx-donate-heart'></i>เเจ้งปัญหาที่เกิดขึ้น</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100079309287970"><i class='bx bxl-facebook-square' ></i>Chatchawan</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100025255022513"><i class='bx bxl-facebook-square' ></i> ชัชวาล</a></li>
                    <li><a href="https://mail.google.com/"><i class='bx bx-envelope' ></i>dewgamer110@gmail.com</a></li>
                    <li><a href="https://github.com/ChatchawanDew404"> <i class='bx bxl-github' ></i>Github</a></li>
                    <li><a href="https://discord.com/"> <i class='bx bxl-discord-alt'></i>Discord</a></li>
                </ul>
            </div>

            <div class="col">
                <h3>Technology</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>BOOTSTRAP</li>
                    <li>JQUERY</li>
                    <li>REACT</li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<div class="copyright">
    <h1>Copyright <i class='bx bx-copyright'></i> 2022 - 2026 by Chatchawan Ngernthaworn</h1>
</div>









    <!-- Animation text -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/88dfe94bff.js" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Swiper cdn js -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- index.js -->
    <script src="/index.js"></script>
</body>

</html>
