<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendship2022</title>
    <link rel="stylesheet" href="/dist/css/style.css">
    <link rel="stylesheet" href="/dist/css/technology.css">
    <!-- Box icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Swiper cdn -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>

<body>
    <nav>
        <div class="container">
            <a href="" class="logo"><i class="fab fa-earlybirds"></i>FS69</a>

            <div class="menu-bar">
                <span class="b-1">.</span>
                <span class="b-2">.</span>
                <span class="b-3">.</span>
            </div>

            <ul class="navbar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">about me</a></li>
                <li><a href="#" class="active">technology </a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="gallery.html">gallery</a></li>
                <li><a href="../friend.html">friend</a></li>
                <li><a href="contact.html">contact us</a></li>
            </ul>
        </div>
    </nav>

    <!-- Hero section -->
    <section class="hero-technology">
        <div class="container">
            <video src="/videos/video-1.mp4" autoplay muted loop plays-inline></video>
            <h1>Technology</h1>
            <h2>Technology to <span class="glow">create</span> and <span class="glow">develop</span> websites</h2>
        </div>
    </section>



    <section class="introduce">
        <div class="container">
            <div class="heading">
                <h1>Introduce <spam class="glow">technology</spam> and <br> <span class="glow">programming
                    </span>language</h1>
            </div>

            <div class="row">
                <div class="col-img"><img
                        src="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8d2Vic2l0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                        <div class="col">
                            <h3>ทำความรู้จักกับ frontend developer</h3>
                            <h1><span class="glow">Frontend Developer</span> คืออะไร</h1>
                            <p>Frontend Developer คือ นักพัฒนาโปรแกรมในส่วนฝั่งของด้านหน้าที่มองเห็นได้ทันทีของหน้าเว็บไซต์ หรือ ที่หลายคนเรียกชอบเรียกกันว่า
                                หน้าบ้าน หรือ หน้าเว็บ นั่นเอง โดยผู้ใช้งานสามารถมองเห็น และมีส่วนร่วมในการโต้ตอบร่วมกันภายในเว็บเบราว์เซอร์ได้ ในส่วนของหน้าเว็บไซต์ หรือแอปพลิเคชันบนมือถือ เป็นส่วนที่ผู้ใช้สามารถมองเห็น และโต้ตอบได้โดยตรง
                                ถูกสร้างขึ้นด้วยภาษาทั่วไปที่ต้องรู้ ยกตัวอย่างเช่น HTML CSS JAVASCRIPT เป็นต้น หากใครอยากทำความรู้จักเเบบเบื้องต้นเข้าใจง่าย ผมได้อธิบายไว้ด้านล่างเรียบร้อย รวมถึงได้อธิบายเกี่ยวกับตัวช่วยในการสร้างเว็บไวต์ หรือที่ชาวโปรเเกรมเมอร์ชอบเรียกกันว่า framework เเละ library เเบบเบื้องต้นด้วยเช่นกัน</p>
                                <br><br>
        
                                <p style="color: black;">ยาวไปไม่อ่าน ขอเเบบสั้นๆ</p>
                                <p>"Frontend คือ  ผู้พัฒนาเว็บไซต์โดยใช้ภาษาโปรเเกรมมิ่ง เเละทำให้ให้ผู้ใช้สามารถโต้ตอบกับเว็บไซต์ได้ ผมได้เเนะนำภาษาเเบบเบื้องต้นไว้เเล้ว"</p>
                            </div>
            </div>
        </div>
    </section>


    

    <!-- TECHONOLOGY SECTION -->
    <section class="technology">
        <div class="container">
            <div class="heading">
                <p>Web Developer Skill Set</p>
                <h2> Web development & Technology</h2>
            </div>
            <div class="row">

               <div class="col">
                    <i class='bx bxl-html5' style="color: #e65100;"></i>
                    <h3>HTML5</h3>
                    <p>HTML ย่อมาจาก Hypertext Markup Language มันคือภาษาเขียนเว็บไซต์ที่ใช้เพื่อกำหนดโครงสร้างและแสดงผลคำสั่งบน  Browser โครงสร้างของ HTML จะเป็นในรูปแบบของ Tag ต่างๆ และ Web Browser จะแปลความของ Tag แต่ละ Tag ออกมาเป็นหน้าตาเว็บไซต์ <span style="color: black;">"สรุปง่ายๆ HTML5 คือโครงกระดูกของเว็บไซต์"</span></p>
                </div>

                <div class="col"><i class='bx bxl-css3' style="color:#039be5 ;"></i>
                <h3>CSS3</h3>
                <p>CSS ย่อมาจาก Cascading Style Sheet เป็นภาษาที่ใช้ในการทำส่วนของการจัดรูปแบบการแสดงผลเอกสาร HTML โดยที่ CSS กำหนดรูปแบบ ของเว็บ เช่น สีของข้อความ สีพื้นหลัง พื้นที่ เเละอื่นๆให้เว็บไซต์มีสีสันสวยงามเเละง่ายต่อการใช้งานกับ user <span style="color: black;">"สรุปง่ายๆ CSS คือ เคื่องเเต่งการ"</span></p>
                 </div>

                <div class="col">
                    <i class='bx bxl-javascript' style="color: #f1d600;"></i>
                <h3>JAVASCRIPT</h3>
                <p> JavaScript เป็น ภาษาสคริปต์เชิงวัตถุ ซึ่งในการสร้างและพัฒนาเว็บไซต์ (ใช่ร่วมกับ HTML) เพื่อให้เว็บไซต์ของเราดูมีการเคลื่อนไหว สามารถตอบสนองผู้ใช้งานได้มากขึ้น เช่น กดปุ่ม ส่งข้อความ  ทำให้เว็บไซต์ของเรามีปฏิสัมพันธ์กับผู้ใช้งานมากขึ้น <span style="color: black;">"สรุปง่ายๆ JS คือ เส้นประสาท"</span></p>
                 </div>

                <div class="col">
                    <i class='bx bxl-bootstrap' style="color: #6e10ee;"></i>
                <h3>BOOTSTRAP</h3>
                <p>Bootstrap คือชุดคำสั่งที่ประกอบด้วย HTML CSS และ Javascript เป็นชุดคำสั่งที่ถูกพัฒนาขึ้นมาเป็นต้นเเบบเเละสามารถ
                    ดึงคำสั่งจากต้นเเบบ มาปรับปรุงใช้งานได้ เราจึงเรียก Bootstrap
                    ว่าเป็น Front-end framework<span style="color: black;">"สรุปง่ายๆ BS คือ ต้นเเบบคำสั่ง"</span></p>
                 </div>

                <div class="col">
                    <i class='bx bxl-jquery' style="color: #0865a6;"></i>
                <h3>JQUERY</h3>
                <p>Jquery คิอ JavaScript Library ซึ่งถูกออกแบบมาเพื่อให้การเขียน JavaScript นั้นมีความสะดวกและง่ายขึ้น จากเดิมที่ต้องเขียนคำสั่งยาวเป็นหางว่าว ก็ทำให้สั้นลงได้ ใช้งานสะดวก ทำให้การเขียนดปรเเกรมนั้นไวยิ่งขึ้น <span style="color: black;">"สรุปง่ายๆ JQUERY คือ การย่อคำสั่งของ Javascript"</span></p>
                 </div>

                <div class="col">
                    <i class='bx bxl-react' style="color:#81dfea ;"></i>
                <h3>REACT</h3>
                <p>React คือ JavaScript library ที่ใช้สำหรับสร้าง หน้าเว็บ ทำให้เราสามารถเขียนโค้ดในการสร้างเว็บ ที่มีความซับซ้อนแบ่งเป็นส่วนเล็กๆออกจากกันได้ ซึ่งแต่ละส่วนสามารถแยกการทำงานออกจากกันได้อย่างอิสระ เเละสามารถนำโค้ดกลับมาใช้ใหม่ได้ <span style="color: black;">"สรุปง่ายๆ REACT คือ การ Reuse โค้ด"</span></p>
                 </div>

            </div>
        </div>
        </div>
    </section>




<!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="color: black;"><i class="fab fa-earlybirds glow"></i>FS69</h3>

                    <p>Thank you all for coming to see my work. Have a happy future and have a stable job.</p>
                </div>
                <div class="col">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="about.html">about me</a></li>
                        <li><a href="#">technology </a></li>
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="gallery.html">gallery</a></li>
                        <li><a href="friend.html">friend</a></li>
                        <li><a href="contact.html">contact us</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h3>Contact Me</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100025255022513"> <i
                                    class='bx bx-donate-heart'></i>เเจ้งปัญหาที่เกิดขึ้น</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100079309287970"><i
                                    class='bx bxl-facebook-square'></i>Chatchawan</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100025255022513"><i
                                    class='bx bxl-facebook-square'></i> ชัชวาล</a></li>
                        <li><a href="https://mail.google.com/"><i class='bx bx-envelope'></i>dewgamer110@gmail.com</a>
                        </li>
                        <li><a href="https://github.com/ChatchawanDew404"> <i class='bx bxl-github'></i>Github</a></li>
                        <li><a href="https://discord.com/"> <i class='bx bxl-discord-alt'></i>Discord</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h3>Technology</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>BOOTSTRAP</li>
                        <li>JQUERY</li>
                        <li>REACT</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <div class="copyright">
        <h1>Copyright <i class='bx bx-copyright'></i> 2022 - 2026 by Chatchawan Ngernthaworn</h1>
    </div>









    <!-- Animation text -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/88dfe94bff.js" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Swiper cdn js -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- index.js -->
    <script src="/index.js"></script>
</body>

</html>



<!-- Facebook  https://www.facebook.com/profile.php?id=100079309287970 -->